/* No seu App.css ou index.css */
#root, body {
  width: 100%;
  max-width: 100% !important; /* Remove qualquer trava que deixe o site parecendo celular */
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
}

.App {
  width: 100%;
}